<!DOCTYPE html>

<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.2.0/slate/bootstrap.min.css">
    <link rel="stylesheet" href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css">
    <title>APIs</title>
  </head>

  <body>
    <div class="container">
      <div class="jumbotron">
	<center><h1>Restaurants in Your Area</h1></center>
	<div class="panel panel-primary">
	  <div class="panel-heading">
	    <h4> How much do you want to spend? </h4>
	  </div>
	  <div class="panel-body">
	    <br>
	    <form action="/" method="POST">


	      <div class="radio">
		<label><input type="radio" name="1" value="1">A Little</label>
		<label><input type="radio" name="1" value="2">Some</label>
		<label><input type="radio" name="1" value="3">A Lot</label>
	      </div>

	      <button type="submit" name="submit" class="btn btn-info">Submit
	      </button>

	    </form>
	  </div>
	</div>
      </div>
    </div>
  </body>
</html>
